html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #212121
}


bnb-app {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.hide {
  display: none;
}
