html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  color: #4285f4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


twb-app {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.hide {
  display: none;
}

paper-button.colored {
  color: #4285f4;
}
