html, body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}

a {
  color: #4285f4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  width: 380px;
  margin: 4em auto 1em auto;
  padding: 1em 2em 1em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;

  input {
    background-color: #fafafa !important;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fafafa inset;
  }
}


paper-button.colored {
  color: #4285f4;
}


twb-app {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
}

.hide {
  display: none;
}
