.page {
  padding-left: 8px;
  padding-right: 8px;
}


.box {
  border-radius: 2px;
  width: 250px;
  height: 120px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}


.box .inner {
  padding: 10px;
}

.bg-green {
  background-color: #4caf50;
  color: #fff;
}

.bg-yellow {
  background-color: #ffeb3b;
  color: #000;
}

.bg-red {
  background-color: #f44336;
  color: #fff;
}

.box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}

.box p {
  font-size: 15px;
}