.site-item {
  display: block;
  width: 200px;
  height: 160px;
  background-color: white;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
}

.label {
display: inline;
padding: .2em .6em .3em;
font-size: 75%;
font-weight: 500;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}

.label-success {
background-color: #5cb85c;
}

.label-warning {
background-color: #f0ad4e;
}

.label-danger {
background-color: #d9534f;
}