core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
}

core-toolbar {
  background: #03a9f4;
  color: white;
}

core-toolbar /deep/ paper-dropdown-menu {
  border-bottom: none;
}

core-toolbar /deep/ paper-dropdown-menu /deep/ #label {
  color: white;
}

core-toolbar /deep/ paper-dropdown-menu /deep/ #arrow {
  color: white;
}

paper-item {
  color: black;
}

.show {
  display : block;
}

.hide {
  display : none;
}